<section class="author">
  <div class="author-card">
    <img class="avatar" src="{{ env.base }}/assets/avatar.svg" alt="" width="56" height="56" />
    <div>
      <h3>{{ site.author or 'Author' }}</h3>
      <p class="muted">Writing about tech, life, and ideas. This is a short bio area you can customize.</p>
    </div>
  </div>
</section>

