<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ env.base }}/">{{ site.title }}</a>
    <nav class="nav">
      <a href="{{ env.base }}/">Home</a>
      <a href="{{ env.base }}/tags/">Tags</a>
      <a href="{{ env.base }}/search/">Search</a>
      <a href="{{ env.base }}/about/">About</a>
      <a href="{{ env.base }}/feed.xml">RSS</a>
    </nav>
  </div>
</header>
