---
layout: layouts/page.njk
title: About
permalink: /about/
---

<p>Hi! I write daily about different subjects I enjoy—tech, life, science, and more. This is a starter About page. Edit this content in <code>src/about.njk</code>.</p>

